.one {
    width: 100%;
    height: 70vh;
    background-color: antiquewhite;
    background-size: cover;
}
.two {
    width: 100%;
    height: 70vh;
    background-color: yellow;
    background-size: cover;
}
.three {
    width: 100%;
    height: 70vh;
    background-color: fuchsia;
    background-size: cover;
}
.four {
    width: 100%;
    height: 70vh;
    background-color: red;
    background-size: cover;
}
.five {
    width: 100%;
    height: 70vh;
    background-color: orange;
    background-size: cover;
}
.six {
    width: 100%;
    height: 70vh;
    background-color: indigo;
    background-size: cover;
}
.seven {
    width: 100%;
    height: 70vh;
    background-color: aqua;
    background-size: cover;
}
.eight {
    width: 100%;
    height: 70vh;
    background-color: salmon;
    background-size: cover;
}
.nine{
    width: 100%;
    height: 70vh;
    background-color: fuchsia;
    background-size: cover;
}
