.one_kr{
  width: 100%;
  height: 100vh;
  background-color: sienna;
  background-size: cover;
}
.two_kr{
  width: 100%;
  height: 100vh;
  background-color: tan;
  background-size: cover;
}
.three_kr{
  width: 100%;
  height: 100vh;
  background-color: salmon;
  background-size: cover;
}
.four_kr{
  width: 100%;
  height: 100vh;
  background-color: indigo;
  background-size: cover;
}
.five_kr{
  width: 100%;
  height: 100vh;
  background-color: fuchsia;
  background-size: cover;
}
.six_kr{
  width: 100%;
  height: 100vh;
  background-color: orange;
  background-size: cover;
}
.seven_kr{
  width: 100%;
  height: 100vh;
  background-color: lawngreen;
  background-size: cover;
}
.eight_kr{
  width: 100%;
  height: 100vh;
  background-color: aqua;
  background-size: cover;
}
.nine_kr{
  width: 100%;
  height: 100vh;
  background-color: blue;
  background-size: cover;
}
.ten_kr{
  width: 100%;
  height: 100vh;
  background-color: yellow;
  background-size: cover;
}